.boardtile {
  width: 60px;
  height: 60px;
  background-color: lightgreen;
  float: left;
  box-shadow: 0px 0px 0px 1px black inset;
  text-align: center;
  position: relative;
  line-height: 60px;
  display: grid;
}

.boardtile:hover {
  background-color: white;
  float: left;
}

.boardtile div,
.playerlocations {
  grid-area: 1 / 1;
}

.tileText {
  box-shadow: 0px 0px 0px 1px black inset;
}

.playercount1 {
  width: 60px;
  height: 60px;

  float: left;
}

.playercount2 {
  width: 30px;
  height: 60px;
  float: left;
}

.playercount3 {
  width: 20px;
  height: 60px;
  float: left;
}

.playercount4 {
  width: 30px;
  height: 30px;
  float: left;
}
