.detailCard {
  height: 240px;
  width: 180px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 0px 1px black inset;
  opacity: 0%;
}

.detailHeader {
  height: 15%;
  width: 80%;
  margin-left: 10%;
  background-color: lightseagreen;
  text-align: center;
  box-shadow: 0px 0px 0px 1px black inset;
}

.detailBody {
  height: 78%;
  width: 80%;
  margin-left: 10%;
  background-color: lightgreen;
  box-shadow: 0px 0px 0px 1px black inset;
  text-align: center;
  position: "absolute";
}
.bottomBody {
  height: 75%;
  width: 80%;
}

.bottomTile {
}

.detailCard.tile {
  opacity: 100%;
}

.detailCard.tile1 {
  left: 0px;
  top: 0px;
}

.detailCard.tile2 {
  left: 0px;
  top: 0px;
}

.detailCard.tile3 {
  left: 60px;
  top: 0px;
}

.detailCard.tile4 {
  left: 120px;
  top: 0px;
}

.detailCard.tile5 {
  left: 180px;
  top: 0px;
}

.detailCard.tile6 {
  left: 240px;
  top: 0px;
}

.detailCard.tile7 {
  left: 300px;
  top: 0px;
}

.detailCard.tile8 {
  left: 360px;
  top: 0px;
}

.detailCard.tile9 {
  left: 420px;
  top: 0px;
}

.detailCard.tile10 {
  left: 480px;
  top: 0px;
}

.detailCard.tile11 {
  left: 540px;
  top: 0px;
}

.detailCard.tile12 {
  left: 600px;
  top: 0px;
}

.detailCard.tile13 {
  left: 600px;
  top: 0px;
}

.detailCard.tile14 {
  left: 600px;
  top: 0px;
}

.detailCard.tile15 {
  left: 600px;
  top: 0px;
}

.detailCard.tile16 {
  left: 600px;
  top: 0px;
}

.detailCard.tile17 {
  left: 600px;
  top: 60px;
}

.detailCard.tile18 {
  left: 600px;
  top: 120px;
}

.detailCard.tile19 {
  left: 600px;
  top: 180px;
}

.detailCard.tile20 {
  left: 600px;
  top: 240px;
}

.detailCard.tile21 {
  left: 600px;
  top: 300px;
}

.detailCard.tile22 {
  left: 600px;
  top: 360px;
}

.detailCard.tile23 {
  left: 600px;
  top: 420px;
}

.detailCard.tile24 {
  left: 600px;
  top: 480px;
}

.detailCard.tile25 {
  left: 600px;
  top: 540px;
}

.detailCard.tile26 {
  left: 600px;
  top: 540px;
}

.detailCard.tile27 {
  left: 600px;
  top: 540px;
}

.detailCard.tile28 {
  left: 600px;
  top: 540px;
}

.detailCard.tile29 {
  left: 600px;
  top: 540px;
}

.detailCard.tile30 {
  left: 600px;
  top: 540px;
}

.detailCard.tile31 {
  left: 600px;
  top: 540px;
}

.detailCard.tile32 {
  left: 600px;
  top: 540px;
}

.detailCard.tile33 {
  left: 540px;
  top: 540px;
}

.detailCard.tile34 {
  left: 480px;
  top: 540px;
}

.detailCard.tile35 {
  left: 420px;
  top: 540px;
}

.detailCard.tile36 {
  left: 360px;
  top: 540px;
}

.detailCard.tile37 {
  left: 300px;
  top: 540px;
}

.detailCard.tile38 {
  left: 240px;
  top: 540px;
}

.detailCard.tile39 {
  left: 180px;
  top: 540px;
}

.detailCard.tile40 {
  left: 120px;
  top: 540px;
}

.detailCard.tile41 {
  left: 60px;
  top: 540px;
}

.detailCard.tile42 {
  left: 0px;
  top: 540px;
}

.detailCard.tile43 {
  left: 0px;
  top: 540px;
}

.detailCard.tile44 {
  left: 0px;
  top: 540px;
}

.detailCard.tile45 {
  left: 0px;
  top: 540px;
}

.detailCard.tile46 {
  left: 0px;
  top: 540px;
}

.detailCard.tile47 {
  left: 0px;
  top: 540px;
}

.detailCard.tile48 {
  left: 0px;
  top: 480px;
}

.detailCard.tile49 {
  left: 0px;
  top: 420px;
}

.detailCard.tile50 {
  left: 0px;
  top: 360px;
}

.detailCard.tile51 {
  left: 0px;
  top: 300px;
}

.detailCard.tile52 {
  left: 0px;
  top: 240px;
}

.detailCard.tile53 {
  left: 0px;
  top: 180px;
}

.detailCard.tile54 {
  left: 0px;
  top: 120px;
}

.detailCard.tile55 {
  left: 0px;
  top: 60px;
}

.detailCard.tile56 {
  left: 0px;
  top: 0px;
}
