.investmentMarkets {
  height: 200px;
}

.investmentMarket {
  width: 133px;
  height: 100px;
  float: left;
  text-align: center;
}

.investmentTiles {
  height: 80%;
  margin: 0 13px;
  background-color: coral;
}

.investmentTiles > div {
  float: left;
  width: 43px;
  height: 30px;
  margin: 5px;
  background-color: blanchedalmond;
}

.playerInvestments {
  margin-top: 20px;
}

.playerInvestment {
  float: left;
  height: 20px;
  margin: 0 1px;
}

.playerTiles {
  float: left;
  width: 98px;
  height: 74px;
  background-color: coral;
}

.playerTiles > div {
  float: left;
  width: 43px;
  height: 30px;
  margin: 3px;
  background-color: blanchedalmond;
}

.playerindicator {
  width: 41px;
  height: 28px;
  background-color: black;
  display: flex;
  margin: 1px 1px;
}
