.horizontal {
  height: 60px;
}

.middle {
  height: 780px;
}

.vertical {
  height: 780px;
  width: 60px;
  float: left;
}

.center {
  width: 780px;
  height: 780px;
  background-color: lightpink;
  float: left;
}

.gametile {
  width: 60px;
  height: 60px;
  background-color: lightgreen;
  float: left;
  box-shadow: 0px 0px 0px 1px black inset;
  text-align: center;
  line-height: 60px;
}

.gametile:hover {
  background-color: white;
}

.player {
  background-color: red;
}
